.resultWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row1{
        display: flex;
    background: #fff;
    gap: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    justify-content: start;
    justify-content: space-evenly
}
.col1,.col2,.col3{
    padding: 25px;
}
.col3 h3{
    font-weight: 700;
}
ul{
    padding: 0;
}
.imgWrapper{
    width: 150px;
    height: 150px;
}
.imgWrapper img{
    width: 100%;
}
.proofImg{
    object-fit: cover;

}